<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="customcategory" frontName="customcategory">
            <module name="Tts_Customcategory" />
        </route>
    </router>
</config>